<!DOCTYPE html>
<html>
<body>
<center>
Add task:
<input type="text" id="task" name="task" ><br>
<button onclick="myFunction()">Add</button><BR>
<h2 id="demo"></h2>
<button onclick="myFunction1()">completed</button><BR>
<button onclick="myFunction2()">delete</button><BR>
<script>
function myFunction() {
     document.getElementById('demo').innerHTML = 
                    document.getElementById("task").value;
}
function myFunction1() {
 var x=document.getElementById("task").value;
     document.getElementById('demo').innerHTML =x.strike()
}
function myFunction2() {
     document.getElementById('demo').innerHTML =""
}
</script>
</center>
</body>
</html>
